.list_item {
    padding: 30px;
    border: 1px solid rgba(0, 0, 0, .1);
    border-radius: 16px;
    max-width: 300px;
}

.product_category {
    font-weight: 500;
    color: rgba(0, 0, 0, .4);
    font-size: 14px;
    margin-bottom: 6px;
}

.product_title {
    margin-bottom: 8px;
    text-wrap: wrap;
}

.product_photo {
    width: 100%;
    height: auto;
    margin-bottom: 10px;
    border-radius: 4px;
}

.prices {
    display: flex;
    color: black;
    flex-wrap: wrap;
    margin-bottom: 15px;
}

.sale_price {
    font-weight: bold;
    margin-right: 10px;
}

.underline {
    text-decoration: line-through;
    color: rgba(0, 0, 0, .4);;
}

.image_container {
    position: relative;
    /* max-width: 200px; */
}

.sale {
    display: flex; 
    align-items: center; 
    justify-content: center; 
    position: absolute;
    text-align: center;
    width: 40px;
    height: 40px;
    right: -6px;
    top: -10px;
    border-radius: 100%;
    background-color: rgba(248, 102, 48, 1);
}

.sale svg {
    width: 25px;
    height: 25px;
    fill: white;
}

.favourite {
    display: flex; 
    align-items: center; 
    justify-content: center; 
    position: absolute;
    text-align: center;
    width: 40px;
    height: 40px;
    right: -6px;
    top: 50px;
    border-radius: 100%;
    background-color: rgba(248, 102, 48, 1);
}

/* .favourite svg {
    width: 25px;
    height: 25px;
    fill: white;
} */

.add_btn {
    border: 1px solid rgba(248,102, 48, 1);
    background-color: rgba(255, 255, 255, 1);
    cursor: pointer;
    color: rgba(248, 102, 48, 1);
    width: 100%;
    padding: 10px;
    border-radius: 10px;
    transition: all 300ms linear;
}

.add_btn:hover {
    color: #fff;
    border: 1px solid rgba(248, 102, 48, 1);
    background-color: rgba(248, 102, 48, 1);
}
