
<div class="slider">
    <div class="slide" [ngStyle]="{ 'background-image': getSlideUrl() }"></div>
    <div class="slider_controls">
        <div class="slider_nav">
            <div class="arrow_next" (click)="nextSlide()" >
                <svg viewBox="0 0 5 9">
                    <path
                        d="M0.419,9.000 L0.003,8.606 L4.164,4.500 L0.003,0.394 L0.419,0.000 L4.997,4.500 L0.419,9.000 Z" />
                </svg>
            </div>
            <div class="arrow_prev" (click)="previousSlide()">
                <svg viewBox="0 0 5 9">
                    <path
                        d="M0.419,9.000 L0.003,8.606 L4.164,4.500 L0.003,0.394 L0.419,0.000 L4.997,4.500 L0.419,9.000 Z" />
                </svg>
            </div>
        </div>
        <div class="slider_dots">
            @for(slide of slides(); track slide.id) {
                <button class="slider_dot" [class.isActive]="slide.id === currentSlideIndex()" (click)="setCurrentSlideIndex(slide.id)">
                </button>
            }
        </div>
    </div>
</div>


