main {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.header {
    flex: 0 0 auto;
    display: flex;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.1);
}

.div_auth {
    display: flex;
    justify-content: end;
}

.inner {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-right: 40px;
}

.btn {
    padding: 10px 5px;
    border: 0;
    cursor: pointer;
}

.div_nav {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.nav_logo {
    height: 60px;
}

.menu {
    margin-left: 30px;
    width: 800px;
    font-size: 24px;
    padding: 10px;
    font-family: "Oswald", sans-serif;
}

.menu a {
    text-decoration: none;
    color: black;
}

.menu a:hover {
    text-decoration: none;
    transition: all 200ms;
    color: rgba(0, 0, 0, 0.459);
}

.menu a:nth-last-child(1) {
    margin-left: 10px;
}

.div_search {
    display: flex;
    justify-content: space-around;
    background-color: rgb(211, 192, 192);
}

.search {
    padding: 5px 10px;
}

.shopping-cart {
    width: 45px;
    margin-left: 20px;
}

.cart {
    position: relative;
}

#cart_quantity {
    color: red;
    right: 15px;
    position: absolute;
}

.outer-container {
    flex: 1 0 auto;
    /* justify-content: center;
    align-items: center; */
}

.footer {
    flex: 0 0 auto;
    margin-top: 50px;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.1);
}

.footer_info {
    margin-top: 20px;
    display: flex;
    gap: 20px;
}

.footer_info_container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    outline: 2px solid rgb(0, 0, 0);
}

.footer_tagname {
    margin-top: 20px;
    padding: 10px;
    /* background-color: rgba(0, 0, 0, 0.1); */
}

