.container {
    width: 100%;
    display: flex;
    justify-content: center;
}

.cart-container {
    max-width: 1200px;
    width: 100%;
}



button {
    padding: 5px 10px;
}

.cart {
    display: flex;
}

.about {
    margin-left: 20px;
}

.image img {
    width: 120px
}

.btns {
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
}

.delete {
    border: none;
    background-size: 100% 100%;
    background-image: url("../../../assets/delete-cross.svg");
    background-color: white;
    cursor: pointer;
    width: 20px;
    height: auto;
    margin-left: auto;
}
