<div class="container">
    <div class="cart-container">
        @for(cartItem of cart(); track cartItem.id) {
            <div class="cart">
                <div class="image">
                    <img [src]="cartItem.photoUrl" alt="Product Photo">
                </div>
                <div class="about">
                    <div class="category">{{cartItem.category}}</div>
                    <div class="title">{{cartItem.title}}</div>
                    <div class="description">{{cartItem.description}}</div>
                </div>
                <div class="btns">
                    <button (click)="deleteItem(cartItem)">-</button>
                    <div>{{cartItem.count}}</div>
                    <button (click)="addItem(cartItem, 'add')">+</button>
                </div>
                @if (cartItem.salePrice) {
                    <div class="price">{{cartItem.salePrice}}</div>

                } @else {
                    <div class="price">{{cartItem.price}}</div>
                }
                
                <button class="delete" (click)="deleteItemFromCart(cartItem)"></button>
            </div>
        }

        @empty {
            <div>Корзина пуста</div>
        }

        @if(cartTotalPrice() !== 0) {
            <div class="total_price">Цена: {{cartTotalPrice()}}</div>
            <button>Оформить заказ</button>
        } 
        
    </div>

</div>
