.container {
    width: 100%;
    display: flex;
    justify-content: center;
}

.cart-container {
    margin-top: 20px;
    max-width: 1000px;
    width: 600px;
    min-width: 600px;
    padding: 20px;
    border: 1px solid black;
    /* border-radius: 20px; */
}


button {
    padding: 5px 10px;
}

.cart {
    padding: 10px;
    border-radius: 20px;
    display: flex;
    border: 1px solid rgba(0, 0, 0, 0.1);
    overflow: hidden;
    /* max-height: 300px; */
    /* height: 140px; */
}

.cart + * {
    margin-top: 10px;
} 
    

.about {
    margin-left: 20px;
    height: 100%;
}

.image img {
    width: 80px;
    height: auto; 
}

.total_price {
    margin-top: 10px;
}

.btns {
    display: flex;
    gap: 20px;
    /* justify-content: center; */
    align-items: flex-start;
}

.delete {
    border: none;
    background-size: 100% 100%;
    background-image: url("../../../assets/delete-cross.svg");
    background-color: white;
    cursor: pointer;
    width: 25px;
    height: 25px;
    margin-left: auto;
    align-self: flex-start;
}

.price {
    margin-left: auto;
    /* margin-right: 20px; */
}

.description {
    border: 1px solid black;
    height: auto;
}
