
<div class="container">
    <div class="cart-container">
        @for(cartItem of cart(); track cartItem.id) {
            <div class="cart">
                
                <div class="image">
                    <img [src]="cartItem.photoUrl" alt="Product Photo">
                </div>
                <div class="about">
                    <div>{{cartItem.category}}</div>
                    <div>{{cartItem.title}}</div>
                    <div>{{cartItem.description}}</div>
                </div>
                <div class="btns">
                    <button (click)="deleteItem(cartItem)">-</button>
                    <div>{{cartItem.count}}</div>
                    <button (click)="addItem(cartItem, 'add')">+</button>
                </div>
                @if(cartItem.salePrice) {
                    <div>{{cartItem.salePrice}}</div>

                } @else {
                    <div>{{cartItem.price}}</div>
                }

                <button class="delete">del</button>
            </div>
        }

        @empty {
            <div>Корзина пуста</div>
        }
        @if(cartTotalPrice() !== 0) {
            <div>Цена: {{cartTotalPrice()}}</div>
            <button>Оформить заказ</button>
        } 
        
    </div>

</div>
