:root {
    box-sizing: border-box;
}

*,
::before,
::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
    height: 100%;
}

body {
    font-family: 'Be Vietnam Pro', sans-serif;
    height: 100%;
    font-family: "Oswald", sans-serif;
}


