button {
    cursor: pointer;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.middle {
    width: 940px;
    display: flex;
    flex-direction: column;
    padding-top: 60px;
}

.perPage {
    align-self: flex-start;
    margin-bottom: 10px;
}

.div_search {
    display: flex;
    margin-bottom: 40px;
}

.search {
    padding: 10px;
    border-radius: 8px;
    border: 2px solid rgba(0, 0, 0, .1);
    transition: border .3s;
    width: calc(100% - 180px);

}

.search:focus {
    /* border: 2px solid rgba(248, 102, 48, 1); */
    outline: 0;

}

.list {
    margin-top: 60px;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.list_items {
    gap: 20px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.pagination {
    margin-top: 90px;
    display: flex;
    width: 1100px;
    justify-content: space-between;
    gap: 20px;
    align-items: center;
}

.pagination_dots > button {
    border-radius: 100%;
    width: 35px;
    height: 35px;
    /* background-color: rgba(0,0,0,0.1); */
    text-align: center;
    border: 0px;

}

.select_sort {
    margin-left: auto;

}

.select_sort:focus {
    outline: none;

}

.pagination_dots > button:not(:first-child) {
    margin-left: 10px;
}

.pagination_dots > button.active {
    color: white;
    background-color: rgba(248, 102, 48, 1);
    cursor: default;
}

.pagination_dots > button:hover {

    outline: 1px solid rgba(248, 102, 48, 1);

}

.arrow_prev,
.arrow_next {
    /* padding: 50px; */
    /* margin: 10px; */
    background-color: white;
    border: 0px;
    width: 15px;
}



.arrow_next {
    left: 20px;
}


.arrow_prev svg {
    transform: rotate(180deg);
}

.arrow_next {
    right: 20px;
}

.arrow_next:disabled,
.arrow_prev:disabled {
    cursor: default
}
