
<section class="container">
    <div class="middle">
        <div class="div_search">
            <input type="text" placeholder="Поиск" class="search" [formControl]="searchProduct">
                    <select [formControl]="selectedValue" class="select_sort">
                        <option value="default" disabled selected>Сортировка</option>
                        <option value="sortAsc">По возрастанию цены</option>
                        <option value="sortDecs">По убыванию цены</option>
                        <option value="sale">Акционные</option>
                    </select>
        </div>
        <select class="perPage" [formControl]="productsPerPage">
            <option value=10 default>10 карточек</option>
            <option value=25>25 карточек</option>
        </select>

       <app-pagination [items]="searchedItems()" [itemsPerPage]="productsPerPage.value" [itemTemplate]="productItemTemplate">
       </app-pagination>
    </div>

</section>

<ng-template #productItemTemplate let-item=item>
  <app-card [card]="item"></app-card>
</ng-template>
